<%= turbo_frame_tag post do %>
  <div class='container'>
    <div class='field is-grouped box columns'>
      <div class='column is-9'>
        <%= post.text %>
      </div>
      <div class='column'>
        <%= link_to "Edit post",
          edit_post_path(post),
          data: { 
            turbo_frame: "update_post",
            controller: "modals",
            action: "modals#update_post"
          },
          class: 'button is-small is-light is-link is-outlined'
        %>
      </div>
      <div class='column'>
        <%= link_to 'Delete post',
          post, data: {
            turbo_method: :delete,
            turbo_confirm: 'Are you sure?'
          },
          class: 'button is-small is-light is-danger is-outlined'
        %>
      </div>
    </div>
  </div>
<% end %>
