<h1>Editing post</h1>
<%= turbo_frame_tag "update_post" do %>
  <h2 class="title has-text-info has-text-centered">Update post</h2>
  <%= render "form", post: @post %>
<% end %>
<br>

<div>
  <%= link_to "Show this post", @post %> |
  <%= link_to "Back to posts", posts_path %>
</div>
