<% if user_signed_in? %>
  <div class='p-5 columns is-justify-content-space-evenly'>
    <div class='column is-2'>
      <h1 class='title'>Posts</h1>

      <%= link_to "New post",
        new_post_path,
        data: { 
          turbo_frame: "new_post",
          controller: "modals",
          action: "modals#new_post"
        },
        class: 'button is-link is-small is-link p-2'
      %>

    </div>
    <div class='column is-narrow box'>
      <div class='container'>
        <table class='table'>
          <thead>
            <tr>
              <th>Post</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody id='posts' is='turbo-frame'>
            <%= render @posts %>
          </tbody>
        </table>
      </div>          
    </div>
  </div>

  <%# Create bulma modal %>

  <div id="modal-post" class="modal">
    <%= render 'shared/modal', tag_name: 'new_post' %>
  </div>

  <div id="modal-update" class="modal">
    <%= render 'shared/modal', tag_name: 'update_post' %>
  </div>
<% else %>
  <h1 class='title has-text-info'>Please sign in</h1>
<% end %>